body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background-color: #111;
}

.img-container {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.7s ease-in;
}

.img-container:hover img.top {
  opacity: 0;
  filter: blur(20px) brightness(200%);
}
